<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="borasoSystemLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Boraso\Toolkit\Model\Logger\Handler\System</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Boraso\Toolkit\Model\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">borasoSystemLogger</argument>
        </arguments>
    </type>
</config>