<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="toolkit_tab" translate="label" sortOrder="1000">
            <label>Toolkit</label>
        </tab>
        <section id="toolkit_settings" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Settings</label>
            <tab>toolkit_tab</tab>
            <resource>Boraso_Toolkit::config</resource>
            <group id="debug" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Debug</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable entire debug logs for Boraso modules</comment>
                </field>
            </group>
        </section>

        <section id="newsletter">
            <group id="subscription">
                <field id="enable_send_email" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Send Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable send transactional email Magento</comment>
                </field>
            </group>
        </section>

        <section id="catalog">
            <group id="category_customization" translate="label" type="text" sortOrder="10000" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category customizations</label>
                <field id="hide_category_description" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide category description</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Hide category description in category listing from second listing page</comment>
                </field>
            </group>
        </section>
    </system>
</config>